.login-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #2596be;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    border-top-width: 25px; /* Increase the width of the top border */
}

.login-text, .item-list-text, .ratings-text {
    position: absolute;
    top: -22px; /* Adjust to position the text on the top border */
    left: 0; /* Start from the left side of the border */
    background-color: #2596be;
    padding: 0 10px;
    white-space: nowrap;
    font-weight: bold;
    color: white;
    font-size: 14px; /* Adjust the font size as needed */
}

.close {
    position: absolute;
    top: -25px; /* Adjust to position the close button on the top border */
    right: 0; /* Adjust to position the close button on the left side */
    cursor: pointer;
	background-color: #808080;
}

.header {
    background-color: #FFFFFF;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.login-image {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    height: auto;
}


.main-menu-box {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #2596be;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    border-top-width: 25px; /* Increase the width of the top border */
}


.register-box {
    width: 400px; /* Adjust width to accommodate all fields in a single line */
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #2596be;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    border-top-width: 25px; /* Increase the width of the top border */
}
.form_group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form_group label {
    width: 150px; /* Adjust label width */
    margin-right: 10px; /* Add spacing between label and input */
    font-weight: bold;
}

.form_group input {
    flex: 1; /* Take remaining space */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form_group span.error {
    color: red;
}

/*For the main menu page*/
.options {
    display: flex;
    justify-content: space-between;
}

.menu-options,
.admin-options {
    flex: 1;
}

.menu-options {
    text-align: left;
}

.admin-options {
    text-align: left;
}

/*For the Category Report page*/
.category-report-box {
    width: 600px; 
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #2596be;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    border-top-width: 30px; 
}

.category-report-box table {
	border-collapse: collapse;
	width: 100%;
}

.category-report-box th, .category-report-box td {
	text-align: left;
	padding: 8px;
}

.category-report-box th {
	background-color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

/*For the cancelled Report page*/
.cancelled-report-box {
    width: 500px; 
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #2596be;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    border-top-width: 30px; 
}

.cancelled-report-box table {
	border-collapse: collapse;
	width: 100%;
}

.cancelled-report-box th, .cancelled-report-box td {
	text-align: left;
	padding: 8px;
}

.cancelled-report-box th {
	background-color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

/*For the Auction Statistics page*/

.auction-statistics-box {
    width: 250px; 
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #2596be;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    border-top-width: 30px; 
	text-align: left;

}

.statistics-label {
    font-weight: bold;
    display: inline-block;
    width: 200px; /* Adjust as needed for alignment */
}


/* For item_list.php */
    .item-list-box {
        width: 400px; 
        margin: 0 auto;
        padding: 20px;
        border: 4px solid #2596be;
        border-radius: 5px;
        background-color: #FFFFFF;
        position: relative;
        text-align: center;
        border-top-width: 30px; 
    }

    .form-row {
        display: flex;
        justify-content:flex-start!important;
        margin-bottom: 10px;
    }

    .form-row label {
        flex: 1;
        margin-right: 10px;
        text-align: left;
    }

    .form-row input,
    .form-row select, .form-row textarea {
        flex: 2;
    }

    #description textarea {
        height: 3em;
    }

    .dropdown select, .dropdown label {
        flex: none!important;
        width: 30%;
    }

    .price input, .price label {
        flex: none!important; 
    }

    .checkbox label, .checkbox input {
    flex: none!important;
    }

    .form-buttons {
        display: flex;
        justify-content:center;
    }

    .form-button {
        margin: 5px;
    }

/* For the ratings page */
    .ratings-box {
        width: 600px; 
        margin: 0 auto;
        padding: 20px;
        border: 4px solid #2596be;
        border-radius: 5px;
        background-color: #FFFFFF;
        position: relative;
        text-align: center;
        border-top-width: 30px; 
    }

    .ratings-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .ratings-row > div {
        flex: 1;
        text-align: left;
    }

    .ratings-block {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px;
        border: 1px solid #808080;
        padding: 10px;
    }

    .rater-date {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 50%;
    }

    .stars {
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        width: 50%;
    }

    .rater-date > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .comment {
        width: 100%;
        margin-top: 10px;
        text-align: left;
    }

    .filled-star {
        color: #FFD700; 
    }

    .delete {
        color: blue;
        cursor: pointer;
    }